p{
    margin: 0;
}

header{
    text-align: center;
    padding: 20px 0;
}

header img{
    width: 250px;
}

ul{
    list-style-type: none;
}

.show{
    display: block;
}

.hide{
    display: none;
}

#search ul > li{
    margin: 0;
    padding: 5px;
    position: relative;
    left: -30px;
    width: 100%;
}

#resetSearch{
    position: absolute;
    right: 75px;
    top: 28px;
    font-size: 1.2em;
    color: rgb(136, 136, 136);
    z-index: 5;
}

#noResult{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
}

#noResult > button{
    border-radius: 10px;
    padding: 7px 14px;
    margin-top: 10px;
    background-color: white;
}

#advancedSearch{
    display: flex;
}

#advancedSearch > div{
    position: relative;
    margin-right: 30px;
    margin-bottom: 10px;
}

#advancedSearch > div label{
    color: white;
    width: 200px;
    padding: 10px 15px;
    border-radius: 7px;
}

#advancedSearch .input-group > .custom-file, .input-group > .custom-select, .input-group > .form-control{
    width: 100px;
}

#ingredientList, #applianceList, #ustensilList{
    display: none;
    position: absolute;
    top: 58px;
    color: white;
    z-index: 3;
    padding-bottom: 7px;
    border-radius: 5px;
}

#ingredientList{
    grid-template-columns: repeat(3, 1fr);
    width: 600px;
}

#applianceList{
    width: 200px;
}

#ustensilList{
    grid-template-columns: repeat(2, 1fr);
    width: 400px;
}

#ingredientList, #ingredientInput, #selected_items_ingredient > div, #ingredientInputLabel{
    background-color: #3b82f6;
}

#applianceList, #applianceInput, #selected_items_appliance > div, #applianceInputLabel{
    background-color: #34d399;
}

#ustensilList, #ustensilInput, #selected_items_ustensil > div, #ustensilInputLabel{
    background-color: #f87171;
}

#ingredientInput, #applianceInput, #ustensilInput{
    padding: 10px 15px;
    color: white;
    border-radius: 7px;
    border: none;
}

#ingredientInput::placeholder, #applianceInput::placeholder, #ustensilInput::placeholder{
    color: white;
    opacity: 0.8;
}

#ingredientInput{
    width: 600px;
}

#applianceInput{
    width: 200px;
}

#ustensilInput{
    width: 400px;
}

#selected_items{
    display: flex;
}

#selected_items > div{
    display: flex;
}

#selected_items > div > div{
    color: white;
    padding: 7px 14px;
    border-radius: 10px;
    margin-right: 10px;
}

#result-list{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.recipe{
    border-radius: 10px;
    background-color: rgb(240, 240, 240);
    padding-bottom: 20px;
}

.recipe_image{
    width: 100%;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.recipe_image img{
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.recipe_header{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 0;
}

.recipe_header h2{
    font-size: 1.1em;
}

.recipe_header p{
    font-weight: 600;
}

.recipe_header i{
    font-size: 1.3em;
}

.recipe_content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 0.9em;
    padding: 10px 20px 0;
}

.recipe_content ul > li{
    margin: 0;
    position: relative;
    left: -40px;
    width: 122%;
    font-size: 0.9em;
}

.recipe_content ul > li strong{
    font-weight: 600;
}

.recipe_content{
    position: relative;
    font-size: 0.9em;
    height: 165px;
    overflow-y: hidden;
    text-overflow: ellipsis;
}

/* .recipe_content p::after{
    content: "...";
    position: absolute;
    right: 10px;
} */